<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sign.login">

    <application
        android:theme="@style/LoginTheme.HelloComponent">
        <activity
            android:name=".LoginActivity"
            android:label="登陆"></activity>
    </application>

</manifest>