<?xml version="1.0" encoding="utf-8"?><!--集成调试manifest-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sign.share">

    <application android:theme="@style/Theme.HelloComponent">
        <activity android:name=".ShareActivity"></activity>
    </application>

</manifest>